<html lang="en">

<body>
    <div class="fractioninputhelper">
        <h4>Tính phân số</h4>
        <div>
            <table class="fractions">
                <tr>
                    <td>
                        <div class="inputs">
                            <input placeholder="" value="" type="text" class="form-control syntax" />
                            <input value="" type="text" class="form-control text" placeholder="" />
                        </div>
                    </td>
                    <td>
                        <div class="inputs">
                            <input placeholder="" value="" type="text" class="form-control syntax" />
                            <input value="" type="text" class="form-control text" placeholder="" />
                        </div>
                        <hr />
                        <div class="inputs">
                            <input placeholder="" value="" type="text" class="form-control syntax" />
                            <input value="" type="text" class="form-control text" placeholder="" />
                        </div>
                    </td>
                    <td>
                        <select class="op">
                            <option value="+">+</option>
                            <option value="-">-</option>
                            <option value="*">*</option>
                            <option value="/">/</option>
                        </select>
                    </td>
                    <td>
                        <div class="inputs">
                            <input placeholder="" value="" type="text" class="form-control syntax" />
                            <input value="" type="text" class="form-control text" placeholder="" />
                        </div>
                    </td>
                    <td>
                        <div class="inputs">
                            <input placeholder="" value="" type="text" class="form-control syntax" />
                            <input value="" type="text" class="form-control text" placeholder="" />
                        </div>
                        <hr />
                        <div class="inputs">
                            <input placeholder="" value="" type="text" class="form-control syntax" />
                            <input value="" type="text" class="form-control text" placeholder="" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>