<html lang="en">

<body>
    <div class="solverinputhelper">
        <select class="pull-right varcount">
            <option value="1" selected="selected">1 biến, 1 hàm</option>
            <option value="2">2 biến, 2 hàm</option>
            <option value="3">3 biến, 3 hàm</option>
            <option value="4">4 biến, 4 hàm</option>
            <option value="5">5 biến, 5 hàm</option>
            <option value="6">6 biến, 6 hàm</option>
        </select>
        <h4 data-toggle="tooltip" title="Chọn đúng hàm và đúng biến, nếu không sẽ báo lỗi">Giải phương trình</h4>
        <div class="form-group inputrow row0 text-center">
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input lang="en,es,fr,ru" value="" type="text" class="form-control text" placeholder="x^2+2x-4"  />
            </div>
            <div class="equal"><strong>=</strong></div>
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input value="" type="text" class="form-control text" placeholder="0" data-ph1="0" data-ph2="5" />
            </div>
        </div>
        <div class="form-group inputrow row1 text-center">
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input placeholder="" value="" type="text" class="form-control text" placeholder="-4x+y^2" />
            </div>
            <div class="equal"><strong>=</strong></div>
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input placeholder="" value="" type="text" class="form-control text" placeholder="7" />
            </div>
        </div>
        <div class="form-group inputrow row2 text-center">
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input placeholder="" value="" type="text" class="form-control text" placeholder="chọn đúng số biến, số hàm, nếu không sẽ không giải được" />
            </div>
            <div class="equal"><strong>=</strong></div>
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input placeholder="" value="" type="text" class="form-control text" placeholder="7" />
            </div>
        </div>
        <div class="form-group inputrow row3 text-center">
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input placeholder="" value="" type="text" class="form-control text" placeholder="-4x+y" />
            </div>
            <div class="equal"><strong>=</strong></div>
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input placeholder="" value="" type="text" class="form-control text" placeholder="7" />
            </div>
        </div>
        <div class="form-group inputrow row4 text-center">
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input placeholder="" value="" type="text" class="form-control text" placeholder="-4x+y" />
            </div>
            <div class="equal"><strong>=</strong></div>
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input placeholder="" value="" type="text" class="form-control text" placeholder="7" />
            </div>
        </div>
        <div class="form-group inputrow row5 text-center">
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input placeholder="" value="" type="text" class="form-control text" placeholder="-4x+y" />
            </div>
            <div class="equal"><strong>=</strong></div>
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input placeholder="" value="" type="text" class="form-control text" placeholder="7" />
            </div>
        </div>
        <div class="form-group inputrow row6 text-center">
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input placeholder="" value="" type="text" class="form-control text" placeholder="-4x+y" />
            </div>
            <div class="equal"><strong>=</strong></div>
            <div class="inputs">
                <input placeholder="" value="" type="text" class="form-control syntax" />
                <input placeholder="" value="" type="text" class="form-control text" placeholder="7" />
            </div>
        </div>
    </div>
</body>

</html>