<html lang="en">
<div class="unitinputhelper">
    <h4>Chuyển đổi đơn vị</h4>
    <ul id="unittabs" class="nav nav-tabs" role="tablist">
        <li class="active"><a role="tab" data-toggle="tab" href="#bits">Bít/Byte</a>
            <li><a role="tab" data-toggle="tab" href="#density">Tỉ trọng</a>
                <li><a role="tab" data-toggle="tab" href="#energy">Công</a>
                    <li><a role="tab" data-toggle="tab" href="#area">Diện tích</a>
                        <li><a role="tab" data-toggle="tab" href="#time">Time</a>
                            <li><a role="tab" data-toggle="tab" href="#speed">Speed</a>
                                <li><a role="tab" data-toggle="tab" href="#force">Trọng lượng</a>
                                    <li><a role="tab" data-toggle="tab" href="#length">Độ dài</a>
                                        <li><a role="tab" data-toggle="tab" href="#power">Power</a>
                                            <li><a role="tab" data-toggle="tab" href="#inertia">Khối lượng</a></ul>
    <div class="tab-content">
        <div class="tab-pane active" id="bits">
            <div class="row">
                <div class="col-md-5">
                    <div class="inputs">
                        <input placeholder="" value="" type="text" class="form-control syntax" />
                        <input value="" type="text" class="form-control text" placeholder="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="bits">Bits</option>
                        <option selected="selected" value="byte">Bytes</option>
                        <option value="Kbit">Kilobits</option>
                        <option value="KByte">Kilobytes</option>
                        <option value="Mbit">Megabits</option>
                        <option value="MByte">Megabytes</option>
                        <option value="Tb">Terabits</option>
                        <option value="TB">Terabytes</option>
                        <option value="Pb">Petabits</option>
                        <option value="PB">Petabytes</option>
                        <option value="Eb">Exabits</option>
                        <option value="EB">Exabytes</option>
                    </select>
                </div>
                <div class="col-md-1"><strong>thành</strong></div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="bits">Bits</option>
                        <option selected="selected" value="byte">Bytes</option>
                        <option value="Kbit">Kilobits</option>
                        <option value="KByte">Kilobytes</option>
                        <option value="Mbit">Megabits</option>
                        <option value="MByte">Megabytes</option>
                        <option value="Tb">Terabits</option>
                        <option value="TB">Terabytes</option>
                        <option value="Pb">Petabits</option>
                        <option value="PB">Petabytes</option>
                        <option value="Eb">Exabits</option>
                        <option value="EB">Exabytes</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="density">
            <div class="row">
                <div class="col-md-5">
                    <div class="inputs">
                        <input placeholder="" value="" type="text" class="form-control syntax" />
                        <input value="" type="text" class="form-control text" placeholder="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="[g/cm^3]">grams/cubic centimetres</option>
                        <option selected="selected" value="[g/L]">grams/liter</option>
                        <option value="[g/mL]">grams/milliliters</option>
                        <option value="[kg/m^3]">kilograms/cubic metres</option>
                        <option value="[kg/l]">kilograms/liter</option>
                        <option value="[mg/mL]">milligrams/liter</option>
                        <option value=[ounce/inch^3]>ounces/cubic inch</option>
                        <option value="[pounds/inch^3]">pounds/cubic inch</option>
                        <option value="[pounds/foot^3]">pounds/cubic foot</option>
                        <option value="[pound/gallon]">pounds/gallon</option>
                        <option value="[t/m^3]">tonnes/cubic metre</option>
                    </select>
                </div>
                <div class="col-md-1"><strong>thành</strong></div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="[g/cm^3]">grams/cubic centimetres</option>
                        <option selected="selected" value="[g/L]">grams/liter</option>
                        <option value="[g/mL]">grams/milliliters</option>
                        <option value="[kg/m^3]">kilograms/cubic metres</option>
                        <option value="[kg/l]">kilograms/liter</option>
                        <option value="[mg/mL]">milligrams/liter</option>
                        <option value=[ounce/inch^3]>ounces/cubic inch</option>
                        <option value="[pounds/inch^3]">pounds/cubic inch</option>
                        <option value="[pounds/foot^3]">pounds/cubic foot</option>
                        <option value="[pound/gallon]">pounds/gallon</option>
                        <option value="[t/m^3]">tonnes/cubic metre</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="energy">
            <div class="row">
                <div class="col-md-5">
                    <div class="inputs">
                        <input placeholder="" value="" type="text" class="form-control syntax" />
                        <input value="" type="text" class="form-control text" placeholder="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="cal">calories (food)</option>
                        <option value="GJ">gigajoules</option>
                        <option value="J" selected="selected">joules</option>
                        <option value="kcal">kilocalories</option>
                        <option value="kJ">kilojoules</option>
                        <option value="kWh">kilowatt hours</option>
                        <option value="MJ">megajoules</option>
                        <option value="[N*m]">newton metres</option>
                        <option value="[W*s]">watt seconds</option>
                        <option value="[W*h]">watt hours</option>
                    </select>
                </div>
                <div class="col-md-1"><strong>thành</strong></div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="cal">calories (food)</option>
                        <option value="GJ">gigajoules</option>
                        <option value="J" selected="selected">joules</option>
                        <option value="kcal">kilocalories</option>
                        <option value="kJ">kilojoules</option>
                        <option value="kWh">kilowatt hours</option>
                        <option value="MJ">megajoules</option>
                        <option value="[N*m]">newton metres</option>
                        <option value="[W*s]">watt seconds</option>
                        <option value="[W*h]">watt hours</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="area">
            <div class="row">
                <div class="col-md-5">
                    <div class="inputs">
                        <input placeholder="" value="" type="text" class="form-control syntax" />
                        <input value="" type="text" class="form-control text" placeholder="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="[cm^2]">square centimetres</option>
                        <option value="[feet^2]">square feet</option>
                        <option value="[inch^2]">square inches</option>
                        <option value="[km^2]">square kilometres</option>
                        <option value="[m^2]">square meters</option>
                        <option value="[mile^2]">square miles</option>
                        <option value="[mm^2]">square millimetres</option>
                        <option value="[yard^2]">square yards</option>
                    </select>
                </div>
                <div class="col-md-1"><strong>thành</strong></div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="[cm^2]">square centimetres</option>
                        <option value="[feet^2]">square feet</option>
                        <option value="[inch^2]">square inches</option>
                        <option value="[km^2]">square kilometres</option>
                        <option value="[m^2]">square meters</option>
                        <option value="[mile^2]">square miles</option>
                        <option value="[mm^2]">square millimetres</option>
                        <option value="[yard^2]">square yards</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="time">
            <div class="row">
                <div class="col-md-5">
                    <div class="inputs">
                        <input placeholder="" value="" type="text" class="form-control syntax" />
                        <input value="" type="text" class="form-control text" placeholder="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="ns">nanosecond</option>
                        <option value="us">microsecond</option>
                        <option value="ms">millisecond</option>
                        <option value="s">second</option>
                        <option value="min">minute</option>
                        <option value="hour">hour</option>
                        <option value="day">day</option>
                        <option value="week">week</option>
                        <option value="month">month</option>
                        <option value="year">year</option>
                    </select>
                </div>
                <div class="col-md-1"><strong>thành</strong></div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="ns">nanosecond</option>
                        <option value="us">microsecond</option>
                        <option value="ms">millisecond</option>
                        <option value="s">second</option>
                        <option value="min">minute</option>
                        <option value="hour">hour</option>
                        <option value="day">day</option>
                        <option value="week">week</option>
                        <option value="month">month</option>
                        <option value="year">year</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="speed">
            <div class="row">
                <div class="col-md-5">
                    <div class="inputs">
                        <input placeholder="" value="" type="text" class="form-control syntax" />
                        <input value="" type="text" class="form-control text" placeholder="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="[m/s]">metre / second</option>
                        <option value="[km/h]">kilometre / hour</option>
                        <option value="[mile/h]">miles / hour</option>
                        <option value="[feet/s]">feet / second</option>
                    </select>
                </div>
                <div class="col-md-1"><strong>thành</strong></div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="[m/s]">metre / second</option>
                        <option value="[km/h]">kilometre / hour</option>
                        <option value="[mile/h]">miles / hour</option>
                        <option value="[feet/s]">feet / second</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="force">
            <div class="row">
                <div class="col-md-5">
                    <div class="inputs">
                        <input placeholder="" value="" type="text" class="form-control syntax" />
                        <input value="" type="text" class="form-control text" placeholder="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="kN">kilonewtons</option>
                        <option value="MN">meganewtons</option>
                        <option value="N">newtons</option>
                    </select>
                </div>
                <div class="col-md-1"><strong>thành</strong></div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="kN">kilonewtons</option>
                        <option value="MN">meganewtons</option>
                        <option value="N">newtons</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="length">
            <div class="row">
                <div class="col-md-5">
                    <div class="inputs">
                        <input placeholder="" value="" type="text" class="form-control syntax" />
                        <input value="" type="text" class="form-control text" placeholder="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="cm">centimetres</option>
                        <option value="dm">decimetres</option>
                        <option value="feet">feet</option>
                        <option value="inch">Inch</option>
                        <option value="km">kilometres</option>
                        <option value="m">meters</option>
                        <option value="um">micrometres</option>
                        <option value="mile">miles</option>
                        <option value="mm">millimetres</option>
                        <option value="nm">nanometres</option>
                        <option value="yard">yards</option>
                    </select>
                </div>
                <div class="col-md-1"><strong>thành</strong></div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="cm">centimetres</option>
                        <option value="dm">decimetres</option>
                        <option value="feet">feet</option>
                        <option value="inch">Inch</option>
                        <option value="km">kilometres</option>
                        <option value="m">meters</option>
                        <option value="um">micrometres</option>
                        <option value="mile">miles</option>
                        <option value="mm">millimetres</option>
                        <option value="nm">nanometres</option>
                        <option value="yard">yards</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="power">
            <div class="row">
                <div class="col-md-5">
                    <div class="inputs">
                        <input placeholder="" value="" type="text" class="form-control syntax" />
                        <input value="" type="text" class="form-control text" placeholder="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="[cal/min]">calories / minute</option>
                        <option value="[cal/sec]">calories / second</option>
                        <option value="[cal/hour]">calories / hour</option>
                        <option value="gigawatt">gigawatt</option>
                        <option value="W">watts</option>
                        <option value="[joule/hour]">joules / hour</option>
                        <option value="[joule/min]">joules / minute</option>
                        <option value="[joule/sec]">joules / second</option>
                        <option value="[kcal/hour]">kilocalories / hour</option>
                        <option value="[kcal/min]">kilocalories / minute</option>
                        <option value="[kcal/sec]">kilocalories / seconds</option>
                        <option value="kilowatts">kW</option>
                        <option value="megawatts">MW</option>
                    </select>
                </div>
                <div class="col-md-1"><strong>thành</strong></div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="[cal/min]">calories / minute</option>
                        <option value="[cal/sec]">calories / second</option>
                        <option value="[cal/hour]">calories / hour</option>
                        <option value="gigawatt">gigawatt</option>
                        <option value="W">watts</option>
                        <option value="[joule/hour]">joules / hour</option>
                        <option value="[joule/min]">joules / minute</option>
                        <option value="[joule/sec]">joules / second</option>
                        <option value="[kcal/hour]">kilocalories / hour</option>
                        <option value="[kcal/min]">kilocalories / minute</option>
                        <option value="[kcal/sec]">kilocalories / seconds</option>
                        <option value="kilowatts">kW</option>
                        <option value="megawatts">MW</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="inertia">
            <div class="row">
                <div class="col-md-5">
                    <div class="inputs">
                        <input placeholder="" value="" type="text" class="form-control syntax" />
                        <input value="" type="text" class="form-control text" placeholder="" />
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="g">grams</option>
                        <option value="kg">kilograms</option>
                        <option value="ounce">ounces</option>
                        <option value="pound">pound</option>
                        <option value="ron">tonnes (tấn)</option>
                    </select>
                </div>
                <div class="col-md-1"><strong>thành</strong></div>
                <div class="col-md-3">
                    <select class="form-control">
                        <option value="g">grams</option>
                        <option value="kg">kilograms</option>
                        <option value="ounce">ounces</option>
                        <option value="pound">pound</option>
                        <option value="ron">tonnes (tấn)</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>